{{template "layout" .}}

{{define "main"}}
<div class="row">
    <div class="col-md-4 mx-auto">
        <h1>Add New Employee</h1>
        <hr class="my-2">
      
        <form method="POST" action="/employees/add">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control mb-3" required>

            <label for="nip">NIP</label>
            <input type="text" id="nip" name="nip" class="form-control mb-3">

            <label for="address">Address</label>
            <input type="text" id="address" name="address" class="form-control mb-3" required>

            <button class="btn btn-primary" type="submit">Tambah Pegawai Baru</button>
        </form>
    </div>
</div>

<script>
 
    function getQueryParams() {
        const params = new URLSearchParams(window.location.search);
        return Object.fromEntries(params.entries());
    }

  
    window.addEventListener('DOMContentLoaded', (event) => {
        const queryParams = getQueryParams();
        if (queryParams.status === 'success') {
            alert('Employee berhasil ditambahkan!');
        } else if (queryParams.status === 'error') {
            alert('Gagal menambahkan employee. Silakan coba lagi.');
        }
    });
</script>

{{end}}
